---
---
<!doctype html>
<html>
   <head>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>
    <style>
      .nav {
       text-align: center;
       width: device-width;
       margin-left: auto;
       margin-right: auto;
       padding: auto;
       text-shadow: none;
       background-color:Plum;
   
        }
       .main {
       text-align: left;
       margin-left: auto;
       margin-right: auto;
       border: 3px solid black;
       width: device-width;
       padding: 20px;
       background-color:#FFE4B5;
        }

        </style>
        <h1 id="project_title" style="border: 3px solid black; color:black" class="nav" >{{ page.title | default: Title}}</h1>
        <nav class="nav" style="font-size: calc((.4em + 1vmin) + (.4em + 1vmax)); margin: auto">
           {% for item in site.data.navigation %}
              <a class="nav" href="{{ item.link }}" {% if page.url == item.link %} style="background-color:#E6E6FA"{% endif %}>
                 {{ item.name }}
              </a>
            {% endfor %}
        </nav                    
   </head>
                         
  <body style="background-color:cadetblue" class="main"  >
    {{ content }}
  </body>
</html>
